.home-main-conatiner{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: relative;
}
.home-container {
    position: relative; 
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
}

.home-container::before {    
      content: "";
      background-image: url('../../Assets/Images/home_bg.jpg');
      background-size: cover;
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      opacity: 0.31;
}
 .header-name{
    font-family:"Poppins Medium",sans-serif;
    font-size: 25px;
    color: rgb(82, 95, 140);
    font-size: 1.9rem;
    align-items: center;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.4s ease 0s;
}
span{
    font-weight:900 !important;
    font-family:"Poppins Bold";
}
.navbar .container{
    height: 100px;
    background: transparent;
    color: rgb(82, 95, 140);
    font-weight: 500;
    padding: 0px 2rem;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 100%;
}
.navbar-nav{
    margin-top: -9px;
} 
.navbar-expand .navbar-nav a{
    margin-right: 25px;
    cursor: pointer;
    height: 100%;
    color: rgb(82, 95, 140);
    font-family:"Poppins Regular",sans-serif;
    font-size: 15px;
    font-weight: bolder;
}
.home-main{
    display: flex;
    position: absolute;
    align-items:flex-start;
    justify-content: flex-start;
    width: 100%;
    text-align: center;
    height: 100vh;
    align-items: center;
    padding: 100px;
}
.home-section{
    margin-left: 0px !important;
    height: 300px;
    width: 100%;
    border-left: 13px solid  rgb(82, 95, 140);
    text-align: left;
    padding:25px 0  0 25px;
    flex-wrap: wrap;
}
.home-section h1{
    color:  rgb(82, 95, 140);
    font-family:"Poppins Bold",sans-serif;
    font-size: 50px;
    padding-bottom: 20px;
    letter-spacing: 1.15px;
}

.home-section p{
    color:  rgb(82, 95, 140);
    font-family:"Poppins Bold",sans-serif;
    font-size: 19px;
    padding-bottom: 13px;
    flex-wrap:wrap
}

.home-icon{
    display: flex;
}
.home-icon a{
    height: 50px;
    width: 50px;
    background-color: rgba(237, 238, 239, 0.8);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:0 15px 22px 0;
    text-decoration: none;
    color:  rgb(82, 95, 140);
}
.home-icon svg{
    height: 1.5em;
    width: 1.5em;
    text-decoration: none;
}
.home-icon a:hover{
    background-color:rgb(82, 95, 140);
    color:rgba(237, 238, 239, 0.8) !important;
}
.home-button a{
    height: 50px !important;
    width: 110px !important;
    background-color: rgb(82, 95, 140);
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(237, 238, 239, 0.8) !important;
    text-decoration: none !important;
    font-family:"Poppins Regular",sans-serif;
}
.home-button a:hover{
    background-color:rgba(237, 238, 239, 0.8);
    color: rgb(82, 95, 140) !important;
}
 .home-picture {
    margin: 35px 0 0 0;
    height: 350px;
    width: 500px;
    border: 10px solid  rgb(82, 95, 140);
    border-radius: 100%;
    background-image: url("../../Assets/Images/profile.jpg");
    background-size:cover;
    border-radius: 100%;
    background-repeat: no-repeat;
    background-position: center;
}