*{
    margin: 0px;
    padding: 0px;
}
.MuiBox-root .MuiBox-root {
    margin: 0px;
    padding: 0px;
  }
  
.nav-main {
    height: 80px !important ;
    background-color: rgb(82, 95, 140) !important 
}
.main-header{
    padding-right: 1.5rem !important;
}
.header{
    margin-right: 2rem !important;
}
.header a{
    font-family: "Poppins Regular";
    font-size: "1rem";
    color: "white";
    padding-right: "0.5rem";
    text-decoration: "none";
}
.drawer-Item{
    justify-content:center !important;
    margin-bottom: 1rem;
}
.drawer-Item a{
    font-family: "Poppins Regular";
    font-size: "1rem";
    color: rgb(82, 95, 140) !important ;
    padding-right: "0.5rem";
    text-decoration: "none";
}
.main-header{
    text-decoration: none !important;
   color: white !important;
}
.main-list-item{
    font-family: "Poppins Regular";
    font-size: "1rem";
    color: "white";
    padding-right: "0.5rem";
    text-decoration: "none";
}

@media screen and (max-width:600px) {
     .css-11b3ww9-MuiPaper-root-MuiAppBar-root{
        display: flex !important;
    }
     .css-pxcprl-MuiToolbar-root{
        justify-content: space-between !important;
    }
    .header{
        display: none;
    }
    .svg-class{
        width: 150px;
    }
}