*{
    margin: 0px;
    padding: 0px;
}
.MuiBox-root .MuiBox-root {
    margin: 0px;
    padding: 0px;
  }
  
.MuiBox-root .css-11b3ww9-MuiPaper-root-MuiAppBar-root {
    height: 80px !important;
    background-color: rgb(82, 95, 140) !important;
  }
.header{
    margin-right: 2rem !important;
}
.css-1nxmd3h-MuiListItem-root{
    justify-content:center !important;
    margin-bottom: 1rem;
}
.css-19q7eq1-MuiTypography-root-MuiLink-root{
    text-decoration: none !important;
    font-family: "Poppins Regular";
    font-size: "1rem";
    color: "white";
    padding:  "1rem",
}
.css-19q7eq1-MuiTypography-root-MuiLink-root:hover{
    color:white;
}
.css-19q7eq1-MuiTypography-root-MuiLink-root{
    padding-right: 1.5rem !important;
}

@media screen and (max-width:600px) {
     .css-11b3ww9-MuiPaper-root-MuiAppBar-root{
        display: flex !important;
    }
     .css-pxcprl-MuiToolbar-root{
        justify-content: space-between !important;
    }
    .header{
        display: none;
    }
    .css-6iz4mj-MuiButtonBase-root-MuiIconButton-root{
        width: 150px;
    }
}